<div ng-if="skCtrl.type == 'form'" class="skeleton form" ng-class="[skCtrl.size, skCtrl.colClass()]">
    <div class="sk-group" ng-repeat="n in [].constructor(skCtrl.fields) track by $index">
        <div class="sk-base sk-label"></div>
        <div class="sk-base sk-input"></div>
    </div>
</div>
<div ng-if="skCtrl.type == 'grid'" class="skeleton grid" ng-class="[skCtrl.size, skCtrl.colClass()]">
    <div class="sk-header"></div>
    
    <div class="sk-base sk-cell" ng-repeat="n in [].constructor(skCtrl.rows) track by $index">
    </div>
</div>